
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item">Terms & Conditions</li>
    </ol>
</nav>
<div class="card p-3">
<h2>Terms & Conditions</h2>
<img src="../../../assets/images/terms-condition.jpg" class="img-fluid rounded my-3" width="1000" height="445" />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada enim eleifend augue
    consectetur, id gravida lorem gravida. Sed sed quam id lorem consectetur efficitur. Nulla facilisi. Proin vel nunc
    vel tellus viverra placerat. Phasellus eu pretium dui. Curabitur non rhoncus justo. Donec lacinia eget nunc et hendrerit.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla luctus tortor vitae enim elementum porta.
    Cras vel purus sagittis, sodales arcu molestie, varius est. Praesent pharetra lobortis neque vel maximus. Nulla condimentum in
    nisl ut porta.
</p>
<ul>
    <li> When you fill out forms or fields through our Services.    </li>
    <li>When you register for an account with our Service.</li>
    <li>When you create a subscription for our newsletter or Services.</li>
    <li>When you provide responses to a survey.</li>
    <li>When you answer questions on a quiz.</li>
    <li>When you join or enroll in an event through our Services.
    </li>
    <li>When you order services or products from, or through our Service.
    </li>
    <li>When you provide information to us through a third-party application, service or Website.
    </li>
    <li>When you communicate with us or request information about us or our products or Services, whether via email or other means; and
    </li>
    <li>When you participate in any of our marketing initiatives, including, contests, events, or promotions.</li>
  </ul>
</div>