<div class="right">
    <!-- <div class="d-flex mb-5">
        <ng-icon class="ms-3" name="heroBars3"></ng-icon>
        <p class="ms-4">This Survey if for <span>Track opinion</span></p>
        <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Tooltip on top">
            Tooltip on top
        </button>
    </div> -->
    <div class="">
        <div class="main-question">
            <div class="mobile-progress-bar">
                <circle-progress [percent]="progress" [radius]="100" [outerStrokeWidth]="6" [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#f05e16'" [innerStrokeColor]="'#f1f2f6'" [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
            <div class="">

                <div class="change" *ngIf="currentContentIndex === 0">
                    <div class="mb-5 text-center">
                        <p>Question 1/16</p>
                        <h3>Please Select your Gender</h3>
                    </div>
                    <div class="question-align-center">
                        <div class="question-option">
                            <div class="">
                                <input type="radio" name="test" id="cb1" />
                                <label class="type" for="cb1"><img class="img-fluid"
                                        src="../../../assets/images/sidebar/male-option.png" width="67" height="90">
                                    <span>Male</span>
                                </label>
                            </div>
                            <div class="">
                                <input type="radio" name="test" id="cb2" checked>
                                <label class="type" for="cb2"><img class="img-fluid"
                                        src="../../../assets/images/sidebar/female-option.png" width="65" height="90">
                                    <span>Female</span>
                                </label>
                            </div>
                            <div class="">
                                <input type="radio" name="test" id="cb3">
                                <label class="type" for="cb3"><img class="img-fluid"
                                        src="../../../assets/images/sidebar/non-binary.png" width="90" height="90">
                                    <span>Non-Binary</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 1">
                    <div class="mb-5 text-center">
                        <p>Question 2/16</p>
                        <h3>NCCS Questions</h3>
                    </div>

                    <div class="question-align-center">
                        <div class="multiple_select-question">
                            <h5>Q1. What is the highest level of education you have completed?</h5>
                            <div class="multiselect-option">
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="illiterate">
                                        <label class="form-check-label" for="illiterate">illiterate</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Literate_but_no_formal_schooling">
                                        <label class="form-check-label" for="Literate_but_no_formal_schooling">Literate
                                            but
                                            no
                                            formal schooling</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="School_upto_4_years">
                                        <label class="form-check-label" for="School_upto_4_years">School upto 4
                                            years</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="School_5_to_9_years">
                                        <label class="form-check-label" for="School_5_to_9_years">School 5 to 9
                                            years</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="SSC_HSC">
                                        <label class="form-check-label" for="SSC_HSC">SSC / HSC</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Some_Collage_but_not_graduate">
                                        <label class="form-check-label" for="Some_Collage_but_not_graduate">Some Collage
                                            but
                                            not
                                            graduate</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Graduate_Post_Graduate_General">
                                        <label class="form-check-label" for="Graduate_Post_Graduate_General">Graduate /
                                            Post
                                            Graduate - General</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Graduate_Post_Graduate_Professional">
                                        <label class="form-check-label"
                                            for="Graduate_Post_Graduate_Professional">Graduate /
                                            Post Graduate - Professional</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="change" *ngIf="currentContentIndex === 2">
                    <div class="mb-5 text-center">
                        <p>Question 3/16</p>
                        <h3>NCCS Questions</h3>
                    </div>

                    <div class="question-align-center">
                        <div class="multiple_select-question">
                            <h5>Q2. What is your current occupation or job title?</h5>
                            <div class="multiselect-option">
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Unskilled_Worker">
                                        <label class="form-check-label" for="Unskilled_Worker">Unskilled Worker</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Skilled_Worker">
                                        <label class="form-check-label" for="Skilled_Worker">Skilled Worker</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Petty_Worker">
                                        <label class="form-check-label" for="Petty_Worker">Petty Worker</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Shop_Owner">
                                        <label class="form-check-label" for="Shop_Owner">Shop Owner</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Businessman_Industrialist">
                                        <label class="form-check-label" for="Businessman_Industrialist">Businessman /
                                            Industrialist</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Self_Employed_Professional">
                                        <label class="form-check-label" for="Self_Employed_Professional">Self Employed
                                            Professional</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 3">
                    <div class="mb-5 text-center">
                        <p>Question 4/16</p>
                        <h3>NCCS Questions</h3>
                    </div>

                    <div class="question-align-center">
                        <div class="multiple_select-question">
                            <h5>Q3. Which of the following household items do you or your family own?</h5>
                            <div class="multiselect-option">
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Electricity_Connection">
                                        <label class="form-check-label" for="Electricity_Connection">Electricity
                                            Connection</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Ceiling_Fan">
                                        <label class="form-check-label" for="Ceiling_Fan">Ceiling Fan</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="LPG_Stove">
                                        <label class="form-check-label" for="LPG_Stove">LPG Stove</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Two_Wheeler">
                                        <label class="form-check-label" for="Two_Wheeler">Two Wheeler</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Colour_TV">
                                        <label class="form-check-label" for="Colour_TV">Colour TV</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Refrigerator">
                                        <label class="form-check-label" for="Refrigerator">Refrigerator</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Washing_Machine">
                                        <label class="form-check-label" for="Washing_Machine">Washing Machine</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Personal_Computer_Laptop">
                                        <label class="form-check-label" for="Personal_Computer_Laptop">Personal Computer
                                            /
                                            Laptop</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Car_Jeep_Van">
                                        <label class="form-check-label" for="Car_Jeep_Van">Car / Jeep / Van</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="checkbox" id="checkbox" id="Air_Conditioner">
                                        <label class="form-check-label" for="Air_Conditioner">Air Conditioner</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 4">
                    <div class="mb-5 text-center">
                        <p>Question 5/16</p>
                        <h3>Which city do you currently live in?</h3>
                    </div>

                    <div class="question-align-center">
                        <div class="multiple_select-question">
                            <h5>Please select your City</h5>

                            <div class="col-md-12 question-bg"
                                style="background: url(../../../assets/images/3484651.png) center center no-repeat;">
                                <div class="row">
                                    <div class="col-lg-8 offset-lg-2">
                                        <mat-form-field class="w-100">
                                            <mat-label>Select Your City</mat-label>
                                            <mat-select disableRipple>
                                                <mat-option value="1">Andhra Pradesh</mat-option>
                                                <mat-option value="2">Arunachal Pradesh</mat-option>
                                                <mat-option value="3">Assam</mat-option>
                                                <mat-option value="3">Bihar</mat-option>
                                                <mat-option value="3">Chhattisgarh</mat-option>
                                                <mat-option value="3">Goa</mat-option>
                                                <mat-option value="1">Gujarat</mat-option>
                                                <mat-option value="2">Haryana</mat-option>
                                                <mat-option value="3">Himachal Pradesh</mat-option>
                                                <mat-option value="3">Jharkhand</mat-option>
                                                <mat-option value="3">Karnataka</mat-option>
                                                <mat-option value="3">Kerala</mat-option>
                                                <mat-option value="1">Madhya Pradesh</mat-option>
                                                <mat-option value="2">Maharashtra</mat-option>
                                                <mat-option value="3">Manipur</mat-option>
                                                <mat-option value="3">Meghalaya</mat-option>
                                                <mat-option value="3">Mizoram</mat-option>
                                                <mat-option value="3">Nagaland</mat-option>
                                                <mat-option value="1">Odisha</mat-option>
                                                <mat-option value="2">Punjab</mat-option>
                                                <mat-option value="3">Rajasthan</mat-option>
                                                <mat-option value="3">Sikkim</mat-option>
                                                <mat-option value="3">Tamil Nadu</mat-option>
                                                <mat-option value="3">Telangana</mat-option>
                                                <mat-option value="2">Tripura</mat-option>
                                                <mat-option value="3">Uttar Pradesh</mat-option>
                                                <mat-option value="3">Uttarakhand</mat-option>
                                                <mat-option value="3">West Bengal</mat-option>
                                                <mat-option value="3">Union Territories</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 5">
                    <div class="mb-5 text-center">
                        <p>Question 6/16</p>
                        <h3>Which of the following ED Tech platforms have you ever heard of or used in the <strong>last
                                1 year?</strong>
                        </h3>
                    </div>

                    <div class="">
                        <div class="col-md-12 question-bg">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <mat-form-field class="w-100">
                                        <mat-label>ED Tech platforms</mat-label>
                                        <mat-select [formControl]="toppings" multiple>
                                            <mat-option *ngFor="let topping of toppingList"
                                                [value]="topping">{{topping}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 6">
                    <div class="mb-5 text-center">
                        <p>Question 7/16</p>
                        <h3>Please Update you Photo With the Products you Used</h3>
                    </div>

                    <div class="question-align-center">
                        <div class="multiple_select-question">
                            <!-- <ngx-dropzone (change)="onFileSelected($event)">
                                <ngx-dropzone-label>
                                    Drag and drop files here or click to select files
                                </ngx-dropzone-label>
                            </ngx-dropzone> -->
                            <ngx-dropzone (change)="onSelect($event)">
                                <ngx-dropzone-label>
                                    <a href="javascript:"><u>Click to upload</u></a> <span> or drag and drop</span>
                                    <p>Max. File Size: 15MB</p>
                                </ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"
                                    (removed)="onRemove(f)">
                                    <img *ngIf="f.dataURL" [src]="f.dataURL" alt="Preview" />
                                    <ngx-dropzone-label *ngIf="!f.dataURL">{{ f.name }} ({{ f.type
                                        }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 7">
                    <div class="mb-5 text-center">
                        <p>Question 8/16</p>
                        <h3>How likely are you to buy the following brands in future for skin care products?</h3>
                    </div>

                    <div class="question-align-center">
                        <div class="multiple_select-question rating-scale">
                            <ul>
                                <li>
                                    <input type="radio" name="emotion" id="angry" class="input-hidden">
                                    <label for="angry">
                                        <img src="../../../assets/images/Very-Unsatisfied.svg" alt="Very-Unsatisfied">
                                        <span>Would definitely not buy</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="emotion" id="unsatisfied" class="input-hidden">
                                    <label for="unsatisfied">
                                        <img src="../../../assets/images/Unsatisfied.svg" alt="unsatisfied">
                                        <span>Would probably not buy</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="emotion" id="neutral" class="input-hidden">
                                    <label for="neutral">
                                        <img src="../../../assets/images/neutral.svg" alt="neutral">
                                        <span>Might or might not buy</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="emotion" id="satisfied" class="input-hidden">
                                    <label for="satisfied">
                                        <img src="../../../assets/images/satisfied.svg" alt="satisfied">
                                        <span>Would probably buy</span>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" name="emotion" id="happy" class="input-hidden">
                                    <label for="happy">
                                        <img src="../../../assets/images/Very-satisfied.svg" alt="Very-satisfied">
                                        <span>Would definitely buy</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 8">
                    <div class="mb-5 text-center">
                        <p>Question 9/16</p>
                        <h3>Please rate There super-heroes</h3>
                    </div>
                    <div class="question-align-center">
                        <div class="w-100">
                            <div class="d-flex align-items-center star-rating-list">
                                <h5 class="">Batman</h5>
                                <div class="star-rating">
                                    <input id="star-5" type="radio" name="rating" value="star-5" />
                                    <label for="star-5" title="5 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-4" type="radio" name="rating" value="star-4" />
                                    <label for="star-4" title="4 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-3" type="radio" name="rating" value="star-3" />
                                    <label for="star-3" title="3 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-2" type="radio" name="rating" value="star-2" />
                                    <label for="star-2" title="2 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-1" type="radio" name="rating" value="star-1" />
                                    <label for="star-1" title="1 star">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex align-items-center star-rating-list">
                                <h5 class="">Superman</h5>
                                <div class="star-rating">
                                    <input id="star-55" type="radio" name="rating1" value="star-5" />
                                    <label for="star-55" title="5 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-44" type="radio" name="rating1" value="star-4" />
                                    <label for="star-44" title="4 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-33" type="radio" name="rating1" value="star-3" />
                                    <label for="star-33" title="3 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-22" type="radio" name="rating1" value="star-2" />
                                    <label for="star-22" title="2 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-11" type="radio" name="rating1" value="star-1" />
                                    <label for="star-11" title="1 star">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex align-items-center star-rating-list">
                                <h5 class="">Spiderman</h5>
                                <div class="star-rating">
                                    <input id="star-555" type="radio" name="rating2" value="star-5" />
                                    <label for="star-555" title="5 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-444" type="radio" name="rating2" value="star-4" />
                                    <label for="star-444" title="4 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-333" type="radio" name="rating2" value="star-3" />
                                    <label for="star-333" title="3 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-222" type="radio" name="rating2" value="star-2" />
                                    <label for="star-222" title="2 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-111" type="radio" name="rating2" value="star-1" />
                                    <label for="star-111" title="1 star">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex align-items-center star-rating-list">
                                <h5 class="">Captain Marvel</h5>
                                <div class="star-rating">
                                    <input id="star-5555" type="radio" name="rating3" value="star-5" />
                                    <label for="star-5555" title="5 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-4444" type="radio" name="rating3" value="star-4" />
                                    <label for="star-4444" title="4 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-3333" type="radio" name="rating3" value="star-3" />
                                    <label for="star-3333" title="3 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-2222" type="radio" name="rating3" value="star-2" />
                                    <label for="star-2222" title="2 stars">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                    <input id="star-1111" type="radio" name="rating3" value="star-1" />
                                    <label for="star-1111" title="1 star">
                                        <ng-icon name="heroStar" class="active"></ng-icon>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 9">
                    <div class="mb-5 text-center">
                        <p>Question 10/16</p>
                        <h3>NPS?</h3>
                    </div>
                    <div class="question-align-center">
                        <div class="w-100 justify-content-center">
                            <div class="multiple_select-question">
                                <h5>How likely is it that you would recommend Coffee n' Mugs to a friend or Colleague?
                                </h5>
                            </div>
                            <div class="d-flex justify-content-between mt-5">
                                <p>Not at all likely</p>
                                <p>Extremely likely</p>
                            </div>
                            <div class="multiselect-option nps-ques">
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="0" class="form-check-input" checked>
                                    <label for="0" class="form-check-label">0</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="1" class="form-check-input">
                                    <label for="1" class="form-check-label">1</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="2" class="form-check-input">
                                    <label for="2" class="form-check-label">2</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="3" class="form-check-input">
                                    <label for="3" class="form-check-label">3</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="4" class="form-check-input">
                                    <label for="4" class="form-check-label">4</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="5" class="form-check-input">
                                    <label for="5" class="form-check-label">5</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="6" class="form-check-input">
                                    <label for="6" class="form-check-label">6</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="7" class="form-check-input">
                                    <label for="7" class="form-check-label">7</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="8" class="form-check-input">
                                    <label for="8" class="form-check-label">8</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="9" class="form-check-input">
                                    <label for="9" class="form-check-label">9</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" value="" name="nps" id="10" class="form-check-input">
                                    <label for="10" class="form-check-label">10</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 10">
                    <div class="mb-5 text-center">
                        <p>Question 11/16</p>
                        <h3>Slider Scale type Question</h3>
                    </div>
                    <div class="question-align-center">
                        <div class="w-100">
                            <div class="multiple_select-question">
                                <h5>Slider Scale type Question</h5>
                            </div>
                            <mat-slider min="0" max="500" class="w-100 mt-5">
                                <input value="0" matSliderStartThumb>
                                <input value="400" matSliderEndThumb>
                            </mat-slider>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 11">
                    <div class="mb-5 text-center">
                        <p>Question 12/16</p>
                        <h3>Cantinous Sum</h3>
                    </div>
                    <div class="question-align-center">
                        <div class="w-100">
                            <form class="cantinous-sum-list">
                                <div class="position-relative continuous-sum">
                                    <p>Cappuccino</p>
                                    <div class="d-flex">
                                        <input type="range" min="0" max="100" value="40" id="num1" step="1"
                                            class="form-range custom-range-slider" step="1"
                                            (input)="updateValues('num1', $event)">
                                        <label for="num1">{{ rangeValue1 }}</label>
                                    </div>
                                </div>
                                <div class="position-relative continuous-sum">
                                    <p>Classic veg Burger</p>
                                    <div class="d-flex">
                                        <input type="range" class="form-range custom-range-slider" min="0" max="100"
                                            value="20" id="num2" step="1" (input)="updateValues('num2', $event)">
                                        <label for="num2">{{ rangeValue2 }}</label>
                                    </div>
                                </div>
                                <div class="position-relative continuous-sum">
                                    <p>French Fries</p>
                                    <div class="d-flex">
                                        <input type="range" class="form-range custom-range-slider" min="0" max="100"
                                            value="50" id="num3" step="1" (input)="updateValues('num3', $event)">
                                        <label for="num3">{{ rangeValue3 }}</label>
                                    </div>
                                </div>
                            </form>
                            <div class="cantinous-sum-list total-sum justify-content-between">
                                <span>Total Sum</span>
                                <input class="text-end" type="text" [value]="sliderSum">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 12">
                    <div class="mb-5 text-center">
                        <p>Question 13/16</p>
                        <h3>Ranking</h3>
                    </div>
                    <div class="question-align-center">
                        <div class="w-100 order-ranking">
                            <div cdkDropList (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let item of items; let i = index" cdkDrag>
                                    <ng-icon name="heroBars3" class="me-2"></ng-icon> {{ i + 1 }}. {{ item.listing }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="change" *ngIf="currentContentIndex === 13">
                    <div class="mb-5 text-center">
                        <p>Question 14/16</p>
                        <h3>Have you purchased a product from us in the last six months?</h3>
                    </div>
                    <div class="question-align-center">
                        <div class="w-100">
                            <div class="multiple_select-question">
                                <h5>Have you purchased a product from us in the last six months?</h5>
                            </div>
                            <div class="multiselect-option multiselect-option-two mt-5">
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="radio" name="boolean" id="yes">
                                        <label class="form-check-label" for="yes">Yes</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="checkbox-wrapper">
                                        <input type="radio" name="boolean" id="no">
                                        <label class="form-check-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="change matrix" *ngIf="currentContentIndex === 14">
                    <div class="mb-5 text-center">
                        <p>Question 15/16</p>
                        <h3>Matrix Choice (One Answer)</h3>
                    </div>
                    <div class="question-align-center">
                        <div class="w-100 table-responsive">
                            <table class="table">
                                <tr>
                                    <td></td>
                                    <td>Display</td>
                                    <td>Memory</td>
                                    <td>Performance</td>
                                    <td>Battery</td>
                                </tr>
                                <tr>
                                    <td>Apple</td>
                                    <td><input class="form-check-input" type="radio" id="1" name="Apple"></td>
                                    <td><input class="form-check-input" type="radio" id="2" name="Apple"></td>
                                    <td><input class="form-check-input" type="radio" id="3" name="Apple"></td>
                                    <td><input class="form-check-input" type="radio" id="4" name="Apple"></td>
                                </tr>
                                <tr>
                                    <td>Nokia</td>
                                    <td><input class="form-check-input" type="radio" id="1" name="Nokia"></td>
                                    <td><input class="form-check-input" type="radio" id="2" name="Nokia"></td>
                                    <td><input class="form-check-input" type="radio" id="3" name="Nokia"></td>
                                    <td><input class="form-check-input" type="radio" id="4" name="Nokia"></td>
                                </tr>
                                <tr>
                                    <td>Samsung</td>
                                    <td><input class="form-check-input" type="radio" id="1" name="Samsung"></td>
                                    <td><input class="form-check-input" type="radio" id="2" name="Samsung"></td>
                                    <td><input class="form-check-input" type="radio" id="3" name="Samsung"></td>
                                    <td><input class="form-check-input" type="radio" id="4" name="Samsung"></td>
                                </tr>
                                <tr>
                                    <td>Motorola</td>
                                    <td><input class="form-check-input" type="radio" id="1" name="Motorola"></td>
                                    <td><input class="form-check-input" type="radio" id="2" name="Motorola"></td>
                                    <td><input class="form-check-input" type="radio" id="3" name="Motorola"></td>
                                    <td><input class="form-check-input" type="radio" id="4" name="Motorola"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="change matrix" *ngIf="currentContentIndex === 15">
                    <div class="mb-5 text-center">
                        <p>Question 16/16</p>
                        <h3>Matrix Choice (Many Answer)</h3>
                    </div>
                    <div class="question-align-center">
                        <div class="w-100 table-responsive">
                            <table class="table">
                                <tr>
                                    <td></td>
                                    <td>Display</td>
                                    <td>Memory</td>
                                    <td>Performance</td>
                                    <td>Battery</td>
                                </tr>
                                <tr>
                                    <td>Apple</td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>Vivo</td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>Samsung</td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>Motorola</td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                    <td><input class="form-check-input" type="checkbox" value=""></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="pb-3 prev dev-next-prev mobile-next-prev mt-5">
                    <button type="button" class="btn btn-prev" (click)="decreaseProgress()"><ng-icon
                            name="heroArrowLongLeft" class="me-3"></ng-icon>Previous</button>
                    <button type="button" class="btn btn-primary" (click)="increaseProgress()">Next<ng-icon
                            name="heroArrowLongRight" class="ms-3"></ng-icon></button>
                </div>
                <!-- <div class="mobile-next-prev">
                    <button type="button" class="btn btn-spacing" (click)="decreaseProgress()"><ng-icon
                        name="heroArrowLongLeft" class="me-3"></ng-icon>Previous</button>
                    <button type="button" class="btn btn-primary" (click)="increaseProgress()">Next<ng-icon
                        name="heroArrowLongRight" class="ms-3"></ng-icon></button>
                </div> -->
            </div>
        </div>
    </div>

</div>